body, h1, h2 {
    margin: 0;
}
body {
    background-color: lightgray;
}
.container {
    display: flex;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
}
header {
    width: 100%;
}
section {
    padding: 20px;
}
section h2 {
    font-size: 30px;
}
section p {
    font-size: 16px;
    text-align: justify;
}
footer {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
img {
    height: 100px;
    width: auto;
}
.sidebar, .content {
    padding: 20px;
}

/* Menu bar styles */
nav {
    background-color: darkgrey;
    padding: 10px;
}
nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav a:hover, nav .active {
    background-color: darkolivegreen;
}
